/*
COLORS:

XLight brown: #c5b4a0
Light brown: #c29375
Medium brown: #a75e3b
Dark brown: #7f452f
XDark brown: #32281f

*/

$color-primary-xlight: #c5b4a0;
$color-primary-light: #c29375;
$color-primary: #a75e3b;
$color-primary-dark: #7f452f;
$color-primary-xdark: #32281f;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: url("../img/hero_web_lg.jpg")
}